<burger (toggleNav)="toggleNav()"></burger>
<div id="menu">
	<div class="wrapper">
		<span class="label-menu">MENU</span>
		<ul>
			<li>
				<a [routerLink]="['/']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<span>
						<div class="text-link">Home</div>
					</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/projets']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<span>
						<div class="text-link">Projects</div>
					</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/about']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<span>
						<div class="text-link">About</div>
					</span>
				</a>
			</li>
			<li>
				<a [routerLink]="['/contact']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
					<span>
						<div class="text-link">Contact</div>
					</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="menu-contact">
		<div class="menu-email">
			<div class="menu-email-label">Email me at</div>
			<a href="mailto:contact@guillaumeesnault.fr"><div class="default-email">contact@guillaumeesnault.fr</div><div class="hover-email">contact@guillaumeesnault.fr</div></a>
		</div>
		<div class="menu-sub-infos">
			<span>© 2018 - Guillaume Esnault</span>
			<ul class="menu-social">
				<li><a href="https://github.com/keery" class="ico-github"></a></li>
				<li><a href="https://www.linkedin.com/in/guillaume-esnault-9387a2139/" class="ico-linkedin"></a></li>
			</ul>
		</div>
	</div>
</div>	