.burger {
    cursor: pointer;
    z-index: 1300;
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: 38px;
    height: 26px;
    .line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transition: .3s all ease-in-out;
        top: 0;

        &.l2 { top: 8px; }
        &.l3 { left: unset;right:0;top: 16px;width: 55%; }
    }

    &:hover {
        .line {
            &.l1, &.l3 {
                transform: translateX(-8px);
                width: 100%;
            }
            &.l2 { transform: translateX(25px);width: 50%; }
        }

    }
}