#home {
    padding: 20px;background-color: #12121c;height: 100%;

    .home-video {
        position: absolute;
        top: 50%;
        right: 5%;
        height: 49vw;
        max-height: 563px;
        max-width: 412px;
        width: 37%;
        overflow: hidden;
        transform: translateY(-50%);

        > .home-video-bg {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            > video {
                height: 120%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .home-video-mask {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &:before {
                background-color: #faba00;
                opacity: 0.5;
            }
            &:after {
                background-image: url(../../../assets/fond-accueil2.png);
                background-size: auto 100%;
                background-position: 50%;      
            }
        }
    }


    #home-container 
    {
        height: 100%;

        .home-pre {
            position: absolute;
            background-color: #12121c;
            width: 319px;
            padding: 20px;
            overflow: hidden;
            color: white;
            left: 50%;
            border: 1px solid white;
            top: 50%;
            &:before {
                content: '';
                background-image: url(../../../assets/shadow.png);
                position: absolute;
                width: 150%;
                left: 50%;
                top: 50%;
                height: 150%;
                transform: translateY(-50%) translateX(-50%);
                background-size: cover;
                background-position: 50%;
                opacity: 0.3;
            }
        }

        .home-name {  position: relative;z-index: 5;font-size: 0;
           svg { position: relative;
                text {
                    fill: url(#p-stripes);
                    font-family: 'Lato';
                    font-size: 50px;
                    text-transform:uppercase;
                    text-anchor: middle;
                }
           }
        }
    }    
}

@keyframes slideLetters {
    0% { transform: translateX(-130%); }
    100% { transform: translateX(0); }
}

h1
{ 
    font-family: oswald; 
    
    text-align: center;
    margin: 0;
}

.arrow {
    text-align: center;
    .group-round-top {

        .round{
            &:after { 
                content: '';
                width: 20px;
                height: 1px;
                display: block;
                position: absolute;
                background-color: white;
                
            }
            &:first-child { 
                transform: rotate(45deg);
            }
            &:last-child {
                    transform: rotate(-45deg);
                }
            
        }
    } 
    .round { background-color: white; border-radius: 100%;display: inline-block;width: 10px;height:10px;
        + .round { margin-left: 15px; }
    }
    
}

.home-presentation {
    
    position: fixed;
    bottom: 48px;
    left: 5%;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.19em;
    padding-bottom: 33px;
    white-space: nowrap;
    text-align: right;

    .vertical-text {
        transform: rotate(-90deg);
        width: 11px;
        font-size: 11px;
        line-height: 11px;

        &:before {
            content: '';
            margin-right: 13px;
            display: inline-block;
            border-radius: 100%; background-color: #f2c84c;
            width: 8px;height: 8px;
        }
    }
    .home-name {  position: relative;z-index: 5;font-size: 0;padding-top:25px;
        svg { position: relative;
             text {
                 fill: url(#p-stripes);
                 font-family: 'Fjalla One';
                 font-size: 100px;
                 text-transform:uppercase;
                 font-weight: bold;
                 text-anchor:end;
             }
        }
    }
    .home-description {
        padding-top: 10px;
        font-size: 16px;
        white-space: normal;
        width: 450px;
        letter-spacing: initial;
        display: inline-block;
        .eiffel {
            cursor: url(../../../assets/picto-eiffel-tower.png), auto;
        }
    }
}