#home {
    padding: 20px;
    background-image: url(../../../assets/fond.jpg);
    background-size: cover;

    > #homeContainer 
    {
        height: 100%;
    }
}

h1
{ 
    font-family: oswald; 
    font-size: 65px;
    text-align: center;
    margin: 0;
    > span {
        display: inline-block;
        vertical-align: bottom;
    }
}

.scroll-btn {
    border: 1px solid white;
    border-radius: 100%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 8px;
    padding: 5px 10px;
    display: block;
    width: 78px;
    height: 78px;
    margin: 0 auto;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    background-color: rgba(247, 247, 247, 0.168);

    &:before {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        border: 1px solid white;
        border-radius: 100%;
        animation: squareFade 0.7s infinite;
    }

    > img {
        width: 22px;
        margin-bottom: 8px;
        animation: bound 1.4s infinite;        
    }
}
$dist: -14px;
@keyframes squareFade
{
    to {
        left: $dist;
        right: $dist;
        top: $dist;
        bottom: $dist;
        opacity: 0;
    }
}

@keyframes bound {
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(5px);
    }
    100%
    {
        transform: translateY(0px);
    }
}
.arrow {
    text-align: center;
    .group-round-top {

        .round{
            &:after { 
                content: '';
                width: 20px;
                height: 1px;
                display: block;
                position: absolute;
                background-color: white;
                
            }
            &:first-child { 
                transform: rotate(45deg);
            }
            &:last-child {
                    transform: rotate(-45deg);
                }
            
        }
    } 
    .round { background-color: white; border-radius: 100%;display: inline-block;width: 10px;height:10px;
        + .round { margin-left: 15px; }
    }
    
}