#home {
    padding: 20px;

    .home-bg-video {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        > .geparallax-container {
            
            width: 100%;
            height: 100%;

            > video {
                height: 120%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }

    .home-mask {
        background-image: url(../../../assets/fond-accueil2.png);
        background-size: auto 100%;
        background-position: 50%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #home-container 
    {
        height: 100%;

        .home-pre {
            position: absolute;
            background-color: #12121c;
            width: 319px;
            padding: 20px;
            overflow: hidden;
            color: white;
            left: 50%;
            border: 1px solid white;
            top: 50%;
            &:before {
                content: '';
                background-image: url(../../../assets/shadow.png);
                position: absolute;
                width: 150%;
                left: 50%;
                top: 50%;
                height: 150%;
                transform: translateY(-50%) translateX(-50%);
                background-size: cover;
                background-position: 50%;
                opacity: 0.3;
            }
        }

        .home-name {  position: relative;z-index: 5;font-size: 0;
           svg { position: relative;
                text {
                    fill: url(#p-stripes);
                    font-family: 'Lato';
                    font-size: 50px;
                    text-transform:uppercase;
                    text-anchor: middle;
                }
           }
        }
    }    
}

@keyframes slideLetters {
    0% { transform: translateX(-130%); }
    100% { transform: translateX(0); }
}

h1
{ 
    font-family: oswald; 
    
    text-align: center;
    margin: 0;
}

.arrow {
    text-align: center;
    .group-round-top {

        .round{
            &:after { 
                content: '';
                width: 20px;
                height: 1px;
                display: block;
                position: absolute;
                background-color: white;
                
            }
            &:first-child { 
                transform: rotate(45deg);
            }
            &:last-child {
                    transform: rotate(-45deg);
                }
            
        }
    } 
    .round { background-color: white; border-radius: 100%;display: inline-block;width: 10px;height:10px;
        + .round { margin-left: 15px; }
    }
    
}

.home-presentation {
    
    position: fixed;
    bottom: 48px;
    left: 30px;
    z-index: 300;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.19em;
    padding-bottom: 33px;
    white-space: nowrap;
    animation: arrowNext forwards infinite 1.2s ease-in-out;
    cursor: pointer;

    > p {
        transform: rotate(-90deg);
        width: 11px;
        font-size: 11px;
        line-height: 11px;

        &:before {
            content: '';
            margin-right: 13px;
            display: inline-block;
            border-radius: 100%; background-color: #f2c84c;
            width: 8px;height: 8px;
        }
    }
    > div {
        padding-top: 10px;
        font-size: 13px;
        white-space: normal;
        width: 255px;
        letter-spacing: initial;
    }
}