<!-- <div style="padding: 20px;">
	<p class="line-1 anim-typewriter">Animation typewriter style using css steps()</p>
</div> -->
<div id="about">
	<div class="dl-cv">
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="18" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
			<g>
				<path d="M448.608,351.791c-18.444,0-33.4,14.952-33.4,33.396v52.055H96.788v-52.055c0-18.443-14.952-33.396-33.396-33.396   s-33.396,14.952-33.396,33.396v85.451c0,18.443,14.952,33.4,33.396,33.4h385.217c18.443,0,33.396-14.957,33.396-33.4v-85.451   C482.005,366.743,467.052,351.791,448.608,351.791z" fill="#FFFFFF"/>
				<path d="M245.918,387.325c5.563,5.559,14.6,5.559,20.157,0l117.039-117.038c3.41-3.41,4.423-8.532,2.579-13   c-1.844-4.45-6.18-7.351-11.012-7.351h-54.954V34.024c0-14.402-11.661-26.063-26.06-26.063h-75.323   c-14.398,0-26.06,11.66-26.06,26.063v215.912h-54.973c-4.827,0-9.163,2.9-11.007,7.351c-1.844,4.468-0.83,9.59,2.575,13   L245.918,387.325z" fill="#FFFFFF"/>
			</g>
			</svg>
			<a href="./assets/pdf/cv-esnault-guillaume.pdf" target="_blank" class="slide-link" download><div class="default">DOWNLOAD CV</div><div>DOWNLOAD CV</div>
			</a>
		</div>
	</div>
	<div class="scroll-btn">			
		<img src="./assets/scroll.svg" alt="">
		<div class="scrollText">scroll</div>
	</div>		
	<div id="about-container" mousewheel arrowdirection (arrowPrev)="prevStep()" (arrowNext)="nextStep()" (wheelUp)="prevStep()" (wheelDown)="nextStep()">
		<div class="cursor-container">
			<div class="cursor-mask">
				<img src="../../assets/mask.png" alt="">
				<div id="cursor"></div>
			</div>
		</div>
		<div id="about-description" GESlider #sliderText>
			<ul class="slides">
				<li *ngFor="let key of steps | ObjLoop" [attr.data-slide-id]="steps[key].idSlide">
					<h2>{{ steps[key].titre }}</h2>
					<div class="sub-info">
						<div *ngFor="let keySub of steps[key].subInfo | ObjLoop">
							<div class="subtitle">{{ keySub }}</div>
							<i><div [innerHtml]="steps[key].subInfo[keySub]"></div></i>
						</div>	
					</div>
					<p class="about-text">{{ steps[key].description }}</p>			
				</li>								
			</ul>
		</div>
		<div id="slider-schema" GESlider [GESliderParams]="{animation: 'slide', axe: 'vertical'}" #sliderSchema>
			<ul class="slides">			 
				<li [attr.data-slide-id]="1">
					<div class="about-schema">
						<div class="about-schema-container">
							<svg data-v-79a08562="" version="1.1" id="about-step-one-line" class="about-step active" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 660 900" xml:space="preserve">
								<g data-v-79a08562="" id="part-1" transform="translate(0 0)">
									<polyline class="st2" data-v-79a08562="" id="line_x5F_6" points="165,806.5 138,806.5 138,899.5 "></polyline> 
									<polyline class="st2" data-v-79a08562="" id="line_x5F_4_3_" points="532.8,727.5 532.8,806.5 138,806.5 "></polyline> 
							<path class="st2" d="M451.3,526.5c22.7-19.3,52.1-31,84.2-31c31.3,0,60,11.1,82.5,29.5" data-v-79a08562="" id="arc_x5F_2"></path>
							<circle class="st2" cx="136.5" cy="209.5" data-v-79a08562="" id="circle" r="101"></circle>
							<circle class="st2" cx="532.5" cy="625.5" data-v-79a08562="" id="circle_7_" r="101"></circle>
							<polyline class="st2" data-v-79a08562="" id="line_x5F_4_2_" points="524,430 535.5,430 535.5,495.5 "></polyline> 
							<polyline class="st2" data-v-79a08562="" id="line_x5F_2" points="136.6,311 136.6,430 246,430 525.7,430 "></polyline> 
							<path class="st2" d="M54.3,110.5c22.7-19.3,52.1-31,84.2-31c31.3,0,60,11.1,82.5,29.5" data-v-79a08562="" id="arc_x5F_1"></path> 
							<line class="st2" data-v-79a08562="" id="line_x5F_1" x1="138" x2="138" y1="79" y2="0"></line>  </g>
							</svg>
							<svg data-v-79a08562="" version="1.1" id="about-step-one-img" class="about-img active" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 660 900" xml:space="preserve">
								<image width="160" height="70" x="57" y="175" xlink:href="../../assets/logo-gen-contact.png"/>
								<image width="160" height="70" x="453" y="595" xlink:href="../../assets/logo-neftis.png"/>
								<circle class="invisble-shape" cx="136.5" cy="209.5" data-v-79a08562="" id="circle" r="101" (click)="selectStep(1)"></circle>
								<circle class="invisble-shape" cx="532.5" cy="625.5" data-v-79a08562="" id="circle_7_" r="101" (click)="selectStep(2)"></circle>
							</svg>	
						</div>
					</div>
				</li>
				<li [attr.data-slide-id]="2">				
					<div class="about-schema">
						<div class="about-schema-container">
							<svg id="about-step-two-line" class="about-step" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 660 900">
								<g id="part-1" transform="translate(137, 0)">
									<circle id="circle" class="st2" cx="321.07" cy="230.5" r="101"/>
									<path id="arc_1" class="st2" d="M381.3,130.5A130,130,0,0,1,548,129" transform="translate(-142.43 1)"/>
									<polyline id="line_1" class="st2" points="323.4 101.33 323.4 48.25 1 48.25 1 0"/>
									<path id="line_1-2" data-name="line_1" class="st2" d="M465.83,47.25" transform="translate(-142.43 1)"/>
									<path id="line_1-3" data-name="line_1" class="st2" d="M466.25,99.5" transform="translate(-142.43 1)"/>
									<path class="st2" d="M463.5,330.5" transform="translate(-142.43 1)"/>
									<circle class="st2" cx="162.2" cy="555.81" r="19"/>
									<polyline class="st2" points="321.07 331.5 321.07 441 162.2 441 162.2 535"/>
								</g>
							</svg>
							<svg data-v-79a08562="" version="1.1" id="about-step-one-img" class="about-img active" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 660 900" xml:space="preserve">
								<g transform="translate(137, 0)">
									<image width="130" height="93" x="257.22" y="187.67" xlink:href="../../assets/logo-sewan.png"/>
									<circle class="invisble-shape" cx="321.07" cy="230.5" r="101" (click)="selectStep(4)"/>
									<circle cx="162.2" cy="555.81" r="19" class="invisble-shape"/>
								</g>
							</svg>		
						</div>
					</div>				
				</li>
			</ul>
		</div>
	</div>
</div>