:host {
  width: 100%;
  height: 100%;
  perspective:500px;
  display:block;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #000;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    // padding: 40px; 
    // background-color: black;
    color:black;
    // transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #000;}
  to{border-right-color: transparent;}
}

.about-step .st2{
    fill: none;
    stroke: #f2c84c;
    stroke-miterlimit: 10;
    stroke-width: 2;
}

#about {
  width: 100%;
  background-color: #12121c;
  height: 100%;
  overflow: hidden;

  // .slides { transition: top 1.2s 2s, left 1.2s 2s;position: absolute;top:0;left:0; bottom: 0; right: 0;
  //   > li {  }
  // }
  
  .dl-cv {
      font-size: 11px;
      line-height: 11px;
      font-weight: 400;
      letter-spacing: 0.19em;
      white-space: nowrap;      
      position: absolute;
      bottom: 35px;
      z-index: 55;
      left: 5%;  

      a { color:white;text-decoration: none; display: inline-block;vertical-align: middle; }

      svg { margin-right: 10px;width: 28px;background-color: #29293a; border-radius: 100%; padding: 5px 5px; display: inline-block; vertical-align: middle; }
  }   

  .scroll-btn {
      border: 1px solid white;
      border-radius: 100%;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-size: 8px;
      padding: 5px 10px;
      display: block;
      width: 78px;
      height: 78px;
      margin: 0 auto;
      letter-spacing: 1px;
      position: absolute;
      z-index: 12;
      left: 50%;
      transform: translateX(-50%);
      bottom: 15px;
      background-color: rgba(247, 247, 247, 0.168);

      &:before {
          content: '';
          position: absolute;
          left: -1px;
          right: -1px;
          top: -1px;
          bottom: -1px;
          border: 1px solid white;
          border-radius: 100%;
          animation: squareFade 1.1s infinite;
      }

      > img {
          width: 22px;
          margin-bottom: 8px;
          animation: bound 2.2s infinite;        
      }
  }  

  $dist: -14px;
  @keyframes squareFade
  {
      to {
          left: $dist;
          right: $dist;
          top: $dist;
          bottom: $dist;
          opacity: 0;
      }
  }
  @keyframes bound {
      0%
      {
          transform: translateY(0px);
      }
      50%
      {
          transform: translateY(5px);
      }
      100%
      {
          transform: translateY(0px);
      }
  }  

  #about-container { max-width: 1140px; margin: 0 auto; height: 100%;position: relative;width: 90%;font-size:0;
    > ul { font-size: 0;height: 100%;
      > li { height: 100%; }
    }
  }

  #about-description { font-size: 15px; display: inline-block;vertical-align: top;width: 40%; padding-top: 25vh; height: 100%;

    ul { position: relative;
      > li { position: absolute;left: 0;top:0;right: 0;opacity: 0;
        &.first-plan { z-index: 5; }
        &.active { opacity: 1;
          h2, .sub-info, .about-text { transform: translateY(0);opacity: 1; }
        }

        &.leave { animation: hideText 1s ease-in-out; }
      }
    }

    @keyframes hideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateX(-30px);
        opacity: 0;
      }      
    }

    h2, .sub-info, .about-text  {
      opacity: 0;
      transform: translateY(30px);
      transition: transform ease-in-out 0.7s, opacity ease-in-out 0.7s;
    }

    h2 {
      font-family: 'Fjalla One';
      text-transform: uppercase;
      font-weight: bold;
      color: #f2c84c;
      font-size: 50px;
      margin: 0;
      transition-delay: 1s;
    }

    .sub-info {
      margin: 30px 0;
      font-family: Cormorant Garamond;
      color: #c5cd94;
      transition-delay: 1.2s;

      > div {
        display: inline-block;
        vertical-align: top;

        + div {
          margin-left: 25px;
        }
        > i { font-size: 18px;font-weight: bold;color:rgba(255, 255, 255, 0.58); }
      }

      .subtitle {
        color: #f2c84c;
        text-transform: uppercase;
        font-family: Fjalla one;
        margin-bottom: 5px;
      }
    }

    .about-text {
      font-family: Cormorant Garamond;
      color: #ffffff;
      transition-delay: 1.4s;
    }
  }
  #slider-schema { font-size: 0; width: 60%; display: inline-block; height: 100%; position: relative; 
    .slides { transition: top 1.2s 2s, left 1.2s 2s;position: absolute;top:0;left:0; bottom: 0; right: 0; }
  }
  .about-schema { height: 100vh;position: relative;

    * { user-select: none; }

    // hr { width: 2px; height: 100%; background-color: #f2c84c; border: none; position: absolute; left: 112px; }
    .about-schema-container { /*height: 735px; */
      > svg { position: absolute;left: 0; right: 0; top:50%; transform: translateY(-50%);height: 100%;width: 100%;
        &.about-step { background-color: #12121c; }
        &.about-img { z-index: 555; }
      }
    }
  }
}

.cursor-container {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  top:50%;
  overflow: hidden;
  transform: translateY(-50%);
  z-index: 55;

  text-align: center;

  .cursor-mask {
    display: inline-block;
    width: auto;
    height: 100%;
    position: relative;
    > img { height: 100%; }
  }
}
#cursor {
    border: 1px solid white;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    z-index: 12;
    background-color: #fff;
    left: 14.8%; top: -5%;
    height: 4.2%; width: 6.3%;

    // left: 54.6%;top: 14.4%;
    // top:23.2%;left:68.6%;



    &.step-0-1 { animation: step-0-1 2s 2.9s forwards, stretchCursor 1s 3.9s forwards; 
      &.block-top { animation: step-0-1 2s 2.9s forwards, stretchCursor 1s 3.9s forwards, blockTop 1s cubic-bezier(0.1, 0.33, 0.34, 2.54); }
    }
    &.step-1-2 { height: 22.4%; width: 33.7%;left: 0.8%; top: 12.1%;animation: step-1-2 3s forwards, reduceCursor 0.6s forwards, stretchCursor2 0.6s 2.4s forwards; }
    &.step-2-1 { height: 22.4%; width: 33.7%;left: 0.8%; top: 12.1%;animation: step-2-1 3s forwards, reduceCursor2 0.6s forwards, stretchCursor3 0.6s 2.4s forwards; 
      &.block-top { animation: step-2-1 3s forwards, reduceCursor 0.6s forwards, stretchCursor 0.6s 2.4s forwards, blockTop 1s cubic-bezier(0.1, 0.33, 0.34, 2.54); }
    }
    &.step-2-3 { left:67%; top: 58.3%;height: 22.4%; width: 33.7%;animation: step-2-3 2s forwards, reduceCursor3 0.5s forwards; }
    &.step-3-2 { left:14.9%; top: 110%;height: 4.2%; width: 6.3%;animation: step-3-2 2s 1s forwards, stretchCursor 0.5s 2.5s forwards; }
    &.step-3-4 { animation: step-3-4 2s 1s forwards, stretchCursor 0.5s 2.5s forwards; }
    &.step-4-3 { animation: step-4-3 2s forwards, reduceCursor 0.5s forwards; }
    &.step-4-5 { animation: step-4-5 2s forwards, reduceCursor 0.5s forwards; 
      &.block-bottom { animation: step-4-5 2s forwards, reduceCursor 0.5s forwards, blockBottom 1s cubic-bezier(0.1, 0.33, 0.34, 2.54); }
    }
    &.step-5-4 { animation: step-5-4 2s forwards, stretchCursor 0.5s 1.5s forwards; }
    &.start-delay { animation-delay: 0.2s; }
    // &.block-top { animation:  }

    &:before {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        border: 1px solid white;
        border-radius: 100%;
        animation: cursorFade 1s infinite;
    }
}
@keyframes reduceCursor {
  0% { height: 22.4%; width: 33.7%;background-color: #f2c84c; }
  100% { height: 4.2%; width: 6.3%; background-color: #fff; }
}
@keyframes reduceCursor2 {
  0% { height: 22.4%; width: 33.7%;background-color: #f2c84c; }
  100% { height: 4.2%; width: 6.3%; background-color: #fff; }
}
@keyframes reduceCursor3 {
  0% { height: 22.4%; width: 33.7%;background-color: #f2c84c; }
  100% { height: 4.2%; width: 6.3%; background-color: #fff; }
}
@keyframes stretchCursor {
  0% { height: 4.2%; width: 6.3%; background-color: #fff; }
  100% { height: 22.4%; width: 33.7%;background-color: #f2c84c; }
}
@keyframes stretchCursor2 {
  0% { height: 4.2%; width: 6.3%; background-color: #fff; }
  100% { height: 22.4%; width: 33.7%;background-color: #f2c84c; }
}
@keyframes stretchCursor3 {
  0% { height: 4.2%; width: 6.3%; background-color: #fff; }
  100% { height: 22.4%; width: 33.7%;background-color: #f2c84c; }
}

@keyframes blockTop {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
@keyframes blockBottom {
  0% { transform: translateY(0); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(0); }
}
@keyframes step-0-1 {
  0% { top: -5%;left:14.8%; }
  50% { top: 21%;left:14.8%;  }
  100% { left: 0.8%; top: 12.1%; }  
}
@keyframes step-1-2 {
  0% { left: 0.8%; top: 12.1%; } 
  20% { top: 21%;left:14.8%;  }
  40% { left:14.8%; top: 45.6%;  }
  60% { left:81.2%; top: 45.6%;  }
  80% { left:81.2%; top: 67.3%;  }
  100% { left:67%; top: 58.3%;  }
}

@keyframes step-2-1 {
  0% { left:67%; top: 58.3%;  }
  20% { left:81.2%; top: 67.3%;  }
  40% { left:81.2%; top: 45.6%;  }
  60% { left:14.8%; top: 45.6%;  }
  80% { top: 21%;left:14.8%;  }
  100% { left: 0.8%; top: 12.1%; } 
}

@keyframes step-2-3 {
  0% { left:67%; top: 58.3%; } 
  25% { left:81.2%; top: 67.3%; }
  50% { left:80.9%; top: 87.4%; }
  75% { left:14.9%; top: 87.4%; }
  100% { left:14.9%; top: 110%; }
}
@keyframes step-3-2 {
  0% { left:14.9%; top: 110%; }
  25% { left:14.9%; top: 87.4%; }
  50% { left:80.9%; top: 87.4%; }
  75% { left:81.2%; top: 67.3%; }
  100% { left:67%; top: 58.3%; } 
}
@keyframes step-3-4 {
  0% { left: 14.8%;top: -5%; }
  15% { left: 14.8%;top:3.2%; }
  45% { top: 3.2%;left:68.6%; }
  75% { top:23.2%;left:68.6%; }
  100% { left: 54.6%;top: 14.4%; }
}
@keyframes step-4-3 {
  0% { left: 54.6%;top: 14.4%; }
  25% { top:23.2%;left:68.6%; }
  55% { top: 3.2%;left:68.6%; }
  85% { left: 14.8%;top:3.2%; }
  100% { left: 14.8%;top: -5%; }
}
@keyframes step-4-5 {
  0% { left: 54.6%;top: 14.4%; }
  25% { top:23.2%;left:68.6%; }
  55% { top: 46.7%;left:68.6%; }
  80% { top: 46.7%;left:41.7%; }
  100% { top: 59.6%;left: 41.7%; }
}
@keyframes step-5-4 {
  0% { top: 59.6%;left: 41.7%; }
  20% { top: 46.7%;left:41.7%; }
  45% { top: 46.7%;left:68.6%; }
  75% { top:23.2%;left:68.6%; }
  100% { left: 54.6%;top: 14.4%; }
}
$dist: -14px;
@keyframes cursorFade
{
    to {
        left: $dist;
        right: $dist;
        top: $dist;
        bottom: $dist;
        opacity: 0;
    }
}

#about-step-one-line {
  #line_x5F_1, #arc_x5F_1, #circle, #line_x5F_2, #line_x5F_4_2_, #arc_x5F_2, #circle_7_, #line_x5F_4_3_, #line_x5F_6 { animation: 0.5s forwards linear; }
  
  // #line_x5F_1 { stroke-dashoffset: -80; stroke-dasharray: 140; animation-duration: 0.2s; }
  // #arc_x5F_1 { stroke-dasharray: 180.985; stroke-dashoffset: 181;animation-delay: 0.3s; }
  // #circle { stroke-dasharray: 640; stroke-dashoffset: 640;animation-delay: 0.8s; }
  // #line_x5F_2 { stroke-dasharray: 560; stroke-dashoffset: 560;animation-delay: 1.2s; animation-duration: 0.9s; }
  // #line_x5F_4_2_ { stroke-dasharray: 80; stroke-dashoffset: 80;animation-delay: 2s;animation-duration: 0.2s; }
  // #arc_x5F_2 { stroke-dasharray: 181; stroke-dashoffset: 181;animation-delay: 2.2s;animation-duration: 0.3s; }
  // #circle_7_ { stroke-dasharray: 640; stroke-dashoffset: 640;animation-delay: 2.6s; }
  // #line_x5F_4_3_ { stroke-dasharray: 480; stroke-dashoffset: 480;animation-delay: 3.1s; }
  // #line_x5F_6 { stroke-dasharray: 124.5; stroke-dashoffset: 124.5;animation-delay: 3.6s;animation-duration: 0.2s; }

  #line_x5F_1 { stroke-dasharray: 0,140; animation-duration: 0.2s;animation-name: drawLine1; }
  #arc_x5F_1 { stroke-dasharray: 0,180.985; animation-delay: 0.3s;animation-name: drawLine2; }
  #circle { stroke-dasharray: 0,640; animation-delay: 0.8s;animation-name: drawCircle; }
  #line_x5F_2 { stroke-dasharray: 0,560; animation-delay: 1.2s; animation-duration: 0.9s;animation-name: drawLine3; }
  #line_x5F_4_2_ { stroke-dasharray: 0,80; animation-delay: 2s;animation-duration: 0.2s;animation-name: drawLine4; }
  #arc_x5F_2 { stroke-dasharray: 0,181; animation-delay: 2.2s;animation-duration: 0.3s; animation-name: drawLine6;}
  #circle_7_ { stroke-dasharray: 0,640; animation-delay: 2.6s;animation-name: drawCircle; }
  #line_x5F_4_3_ { stroke-dasharray: 0,480; animation-delay: 3.1s;animation-name: drawLine6; }
  #line_x5F_6 { stroke-dasharray: 0,124.5; animation-delay: 3.6s;animation-duration: 0.2s;animation-name: drawLine7; }

  #about-img2 {}
}
.about-img {
  image {
    opacity: 0; transform: translateY(30px);
    animation: appendImg 1s forwards;
    &#about-img1 { animation-delay: 1s; }
    &#about-img2 { animation-delay: 2.8s; }
  }
}
.invisble-shape { fill: transparent; cursor: pointer; stroke-width: 2px; stroke:transparent; transition: stroke 0.2s ease-in-out;
  &:hover { stroke: white;}
}
@keyframes appendImg {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}
// @keyframes appendImg {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }
@keyframes drawLine1 { to { stroke-dasharray: 140,140; } }
@keyframes drawLine2 { to { stroke-dasharray: 180.985,180.985; } }
@keyframes drawCircle { to { stroke-dasharray: 640,640; } }
@keyframes drawLine3 { to { stroke-dasharray: 560,560; } }
@keyframes drawLine4 { to { stroke-dasharray: 80,80; } }
@keyframes drawLine5 { to { stroke-dasharray: 181,181; } }
@keyframes drawLine6 { to { stroke-dasharray: 480,480; } }
@keyframes drawLine7 { to { stroke-dasharray: 124.5,124.5; } }

@media screen and (min-device-width: 700px) and (max-device-width: 1000px) {
	#about {

		.about-schema {
			.about-schema-container > svg {
				width: auto;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}

		} 

		.scroll-btn { display: none; }

		#about-container { width: 100%; }
		#about-description { font-size: 13px;padding-left:20px;
			h2 { font-size: 30px; }
			.sub-info { margin: 15px 0;
				> div {
					> i {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
  #about {
    .scroll-btn { border:none; background-color: transparent;
      &:before { display: none; }
    }  
		.dl-cv { position: static;padding: 15vh 0 15px 25px; }
		.cursor-container, #about-container, #slider-schema { width: 100%; }
		.cursor-container, #slider-schema { display: none; }
		#about-description { display:block; padding: 0 25px 10px 25px; width: 100%;
			h2 { font-size: 40px; }
			.sub-info { margin: 15px 0;
				> div {
				
					+ div { margin-left: 12px; }
				}
			}			
		}
	}
}