:host {
	width: 100%;
	height: 100%;
	perspective:500px;
	display:block;
}
#projetList {
	height: 100%;
	width: 100%;
	// transform: rotateY(30deg) translateX(100%);
	// animation: appendPage 1s forwards;
}

// @keyframes appendPage {
// 	0% { transform: rotateY(30deg) translateX(100%); }
// 	100% { transform: rotateY(0deg) translateX(0); }
// }
$sizeCircle: 400px;
$halfCircle : 200px;

.circle-projects {
	background-image: url(../../../assets/circle-projects.png);
    width: $sizeCircle;
    height: $sizeCircle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $sizeCircle;
    position: absolute;
    top: 50vh;
    left: 10vw;
    transform: translateY(-50%);
    border-radius: 200px;
}

#circle-bar {
	position: absolute;
    left: calc(10% - 30px);
    top: calc(50% - 230px);
    transform: rotate(-155deg);
    z-index: 6;

    .c1 {
    	opacity: 0.2;
    	stroke-dasharray: 518 1960;
    }
    .c2 {
    	stroke-dasharray: 0 1570;
    	transition: all ease-in-out 0.3s;
    }    
}

.scroll-btn {
    border: 1px solid white;
    border-radius: 100%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 8px;
    padding: 5px 10px;
    display: block;
    width: 78px;
    height: 78px;
    margin: 0 auto;
    letter-spacing: 1px;
    position: absolute;
    z-index: 12;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    background-color: rgba(247, 247, 247, 0.168);

    &:before {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        border: 1px solid white;
        border-radius: 100%;
        animation: squareFade 0.7s infinite;
    }

    > img {
        width: 22px;
        margin-bottom: 8px;
        animation: bound 1.4s infinite;        
    }
}
$dist: -14px;
@keyframes squareFade
{
    to {
        left: $dist;
        right: $dist;
        top: $dist;
        bottom: $dist;
        opacity: 0;
    }
}

@keyframes bound {
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(5px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

// .circle {
// 	width: 120px;
//     height: 120px;
//     background: #f2c84c;
//     background: -moz-linear-gradient(45deg, #f2c84c 0%, #6190b8 100%);
//     background: -webkit-linear-gradient(45deg, #f2c84c 0%,#6190b8 100%);
//     background: linear-gradient(45deg, #f2c84c 0%,#6190b8 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2c84c', endColorstr='#6190b8',GradientType=1 );
//     border-radius: 100%;

//     &.cir1 { animation: floating linear 15s infinite; }
//     &.cir2 { animation: floating2 linear 15s infinite; }
// }

// @keyframes floating {
// 	0% { transform: translateY(-15px) translateX(0); }
// 	12% { transform: translateY(-10px) translateX(-12px); }
// 	25% { transform: translateY(0) translateX(-18px); }
// 	37% { transform: translateY(10px) translateX(-12px); }
// 	50% { transform: translateY(15px) translateX(0); }
// 	63% { transform: translateY(12px) translateX(12px); }
// 	75% { transform: translateY(0) translateX(15px); }
// 	87% { transform: translateY(-12px) translateX(12px); }
// 	100% { transform: translateY(-15px) translateX(0); }
// }

// @keyframes floating2 {
// 	0% { transform: translateY(-15px) translateX(0); }
// 	12% { transform: translateY(-12px) translateX(12px); }
// 	25% { transform: translateY(0) translateX(15px); }
// 	37% { transform: translateY(12px) translateX(12px); }
// 	50% { transform: translateY(15px) translateX(0); }
// 	63% { transform: translateY(10px) translateX(-12px); }
// 	75% { transform: translateY(0) translateX(-18px); }
// 	87% { transform: translateY(-10px) translateX(-12px); }
// 	100% { transform: translateY(-15px) translateX(0); }
// }

.numProjects {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    color: white;
    z-index: 10;
    overflow: hidden;

    > li { margin: 10px 0; cursor: pointer;transform: translateX(-25px);
    	b { font-family: Cormorant Garamond; font-size: 24px; }
    	> span { 
    		font-size: 12px;
    		display: inline-block;
    		vertical-align: middle;
    		transition: padding-left ease-in-out 0.3s, font-size ease-in 0.2s;
    		color: rgba(255, 255, 255, 0.38);

	    	&:before { 
	    		content: '';
	    		display: inline-block;
	    		vertical-align: middle;
	    		height: 1px;
	    		width: 10px;
	    		background-color: white;
	    		margin: 5px 10px;
	    	}
    	}
    	.mask-text {
		    display: inline-block;
		    vertical-align: middle;
		    overflow: hidden;  
		    text-transform: uppercase;
    		font-family: Cormorant Garamond;  
    		padding-right: 15px;
    		> div {transform: translateX(-102%);transition: transform cubic-bezier(0.31, 1.43, 0.58, 1) 0.45s 0.3s; background-color: #f2c84c;border-radius: 4px;color: #323232;padding: 2px 9px;font-weight: bold;}
    	}

    	&.active { cursor: inherit;animation: openIndicator 0.5s forwards;
			b { display: inline-block;vertical-align: middle; }
			> span { font-size: 12px;color:white; }
			.mask-text > div {  }		
    	}
    	&.inactive { animation: closeIndicator 0.5s forwards; }
    	&:hover:not(.active) {
			> span { padding-left: 10px;}
			.mask-text > div { transform: translateX(0); }
    	}
    }
}

@keyframes openIndicator
{
	0% { transform: translateX(-25px); }
	100% { transform: translateX(0); }
}
@keyframes closeIndicator
{
	0% { transform: translateX(0); }
	100% { transform: translateX(-25px); }
}
.arrow-next-project {
	width: 11px;
    background-image: url(../../../assets/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 7px 18px;
    position: fixed;
    bottom: 48px;
    padding-bottom: 35px;
    left: 30px;
    z-index: 300;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    letter-spacing: 0.19em;
    white-space: nowrap;
	animation: arrowNext forwards infinite 1.2s ease-in-out;
	cursor: pointer;

    > p {
    	transform: rotate(-90deg);
    }
}
@keyframes arrowNext {
	0% { background-position: center 100%; }
	50% { background-position: center 70%; }
	100% { background-position: center 100%; }	
}
.recent-projects {
	position: fixed;
	left:0;
	top:0;
	right: 0;
	bottom: 0;

	.slides, .slides > li {
		width: 100%;
		height: 100%;
	}

	.slides { position: relative;
		> li { 
			background-size: cover;    
			background-repeat: no-repeat;
	    	background-position: center;
	    	transition: all .3s ease-in-out;
	    	opacity: 0; transition: all ease-in-out 1s;position: absolute;top: 0;left: 0;

	    	&:nth-child(even) {	 
	    		.img-circle {
			    	transform: translate3d(-10%,10%,0);
	    		}   		
	    	}
	    	&:nth-child(odd) {	 
	    		.img-circle {
			    	transform: translate3d(10%,10%,0);
	    		}   		
	    	}
	    	&.leave {
	    		.info-projet-container {
					h2, .sub-info, p { transform: translateY(0);opacity: 1;transition-duration:0.2s; }
				}    
	    	}
	    	&.leave:nth-child(even) {	 
	    		.img-circle {
			    	transform: translate3d(10%,-10%,0);
	    		}   		
	    	}
	    	&.leave:nth-child(odd) {	 
	    		.img-circle {
			    	transform: translate3d(-10%,-10%,0);			    	
	    		}   		
	    	}	    	
	    	&.active { opacity: 1;
	    		&.first-plan {z-index: 4;}

	    		.img-circle {
	    			transition-delay: 0.2s;
					transform: translate3d(0,0,0);
	    		}
	    		h2 > span {
			    	transform: translateY(0);
	    		}

	    		.info-projet-container {
					h2, .sub-info, p { transform: translateY(0);opacity: 1; }
				}    

	    	}
	    	[perspective] {width: 100%;height: 100%;}

	    	.overlay { position: absolute;left:0;right:0;bottom:0;top:0;background-color: rgba(20, 20, 20, 0.75);}
	    	.info-projet-container {
	    		position: absolute;
			    left: calc(15% + 415px);
			    width: 45%;
			    top: 50%;
			    transform: translateY(-50%);
		    	font-family: Cormorant Garamond;
				color: #c5cd94;		

			    h2, .sub-info, p  {
			      opacity: 0;
			      transform: translateY(30px);
			      transition: transform ease-in-out 0.6s, opacity ease-in-out 0.6s;
			    }				

			    h2 { 
			    	color: #f2c84c;
					text-transform: uppercase;
				    font-family: Fjalla one;
				    letter-spacing: 2px;
				    font-size: 50px;
				    font-weight: lighter;
				    margin: 0;
				    overflow: hidden;
				    transition-delay: .5s;
				    > sup {
				    	font-size: 18px;
					    display: inline-block;
					    margin-left: 5px;
				    }
				    > span {
				    	transition:transform ease-in-out 0.3s;
				    	transform: translateY(100%);
				    	display: inline-block;
				    	vertical-align: middle;
				    }
			    }

			    p { max-width: 600px; transition-delay: .65s;}

			    .sub-info {
			    	margin-top: 30px;transition-delay: .8s;
			    	> div {
			    		display: inline-block;
			    		vertical-align: top;

			    		+ div {
			    			margin-left: 25px;
			    		}
			    		> i { font-size: 18px;font-weight: bold; }
			    	}
			    	.subtitle {
				    	color: #f2c84c;
						text-transform: uppercase;
					    font-family: Fjalla one;
					    margin-bottom: 5px;
			    	}
			    }
	    	}

	    	.pic-project {
	    		width: 400px;
			    height: 400px;
			    top: calc(50% - 200px);
			    left: 10%;
			    position: absolute;
			    text-align: center;

			    > img {
			    	max-height: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateY(-50%) translateX(-50%);		    	
			    }
		    }
	    }

	    .img-circle-container {
	    	width: $sizeCircle;
	    	height: $sizeCircle;
	    	overflow: hidden;
	    	position: absolute;
		    top: calc(50% - #{$halfCircle});
		    left: 10%;
		    border-radius: $halfCircle;
			background: #f2c84c; /* Old browsers */
			background: -moz-linear-gradient(top, #f2c84c 0%, #6190b8 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #f2c84c 0%,#6190b8 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #f2c84c 0%,#6190b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2c84c', endColorstr='#6190b8',GradientType=0 ); /* IE6-9 */
			padding:3px;

		    .img-circle-container-border {
		    	width: 100%;
		    	height: 100%;	
		    	overflow: hidden;
		    	border-radius: 100%;
		    	position: relative;
		    }

	    	.img-circle { position: absolute;left:calc(-10vw - 2px);right:0;bottom:0;top:calc(-50vh + #{$halfCircle});background-size: cover;background-repeat: no-repeat;background-position: center;
				width: 100vw;
				height: 100vh;
			    transition : all 1900ms cubic-bezier(0.190, 1.000, 0.220, 1.000);				
	    	}
	    }    
	}
}

.details-projects {
	position: absolute;
	right: 15%;
	bottom: 10%;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 100%;
	width: 91px;
	height: 91px;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color 0.4s 0.2s ease-in;

	&:hover 
	{ 
		background-color: rgba(255, 255, 255, 0.1);

		.details-circle .c1
		{
			stroke-dasharray: 295 295;
		    opacity: 1;
		    transition-property: stroke-dasharray;
		}
		.details-label span { transform: translateX(25px); }
		.details-arrow { left: 17px; width: 55px; }
	}

	.details-arrow {
		width: 74px;
	    height: 26px;
	    position: absolute;
	    top: 56px;
	    left: -12px;
	    background-image: url(../../../assets/arrow_right.png);
	    background-repeat: no-repeat;
	    background-position: right center;
	    background-size: 74px 13px;
	    transition: all 1000ms 0.2s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	}

	.details-circle { 
	    transform: rotate(150deg);
		width: 95px;
	    height: 95px;
	    margin-left: -4px;
	    margin-top: -3px;
		.c1 {
			stroke-dasharray: 0 295;
		    transition: 1s;
		    opacity: 0;
		}
	}

	.details-label {
		font-size: 11px;
	    line-height: 16px;
	    color: #fff;
	    position: absolute;
	    top: 24px;
	    left: -12px;

	    > div { display: inline-block;}
	    span { transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);display: inline-block; }
	}
}

@media screen and (max-width: 1100px) {
	.recent-projects {

		.slides {
			> li {
				.info-projet-container {
					width: 35vw;

					.sub-info {
						> div { width: 40%;margin-bottom: 15px;
							+ div { margin-left: 0;}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 900px) {
	#circle-bar {
		transform: rotate(-155deg) translateX(55%);
		top: calc(50% - 122px);
		left:50%;
	}
	.details-projects {
		right: 3%;
		bottom: 15px;
		width: 77px;
		height: 77px;
		.details-circle {
			width: 81px;
			height: 81px;
		}
	}
	.recent-projects {

		.slides {
			> li {
				.info-projet-container {
					width: 400px;
					padding: 0 15px;
    				text-align: center;
    				transform: translateY(-50%) translateX(-50%);
   					left: 50%;
					
					.sub-info {
						.subtitle { font-size: 14px; }
						> div {
				    		> i { font-size: 15px; }
				    	}
					}   					

   					> h2 { max-width: 360px;
   						> sup { display: none; }
   					}
				}
				.pic-project {
					display: none;
					// left: calc(50% - 220px);width: 60px;height: 60px;top:calc(50% + 130px);
				}
			}
			.img-circle-container { left: 50%; transform:translateX(-50%);
				.img-circle-container-border { background-color: rgba(0, 0, 0, 0.75); 
					.img-circle { opacity: 0.2; }
				}
				.img-circle { left: calc(-50vw + 198px); top:calc(-50vh + 198px); }
			}
		}
	}	
}

@media screen and (max-width: 550px) {
	.arrow-next-project, .numProjects { display: none; }

	.scroll-btn { border:none; background-color: transparent; transform: translateX(0%); left: 0;
		&:before { display: none; }
	}

	#circle-bar { top: calc(50% - 160px); width: 320px; }
	.details-projects { //left: 50%; top: 50%; width: 300px; height: 300px;  transform: translateX(-50%) translateY(-50%);
		 > a { display: inline-block;width: 100%;height: 100%;
		 	// * { display: none;}
		 }
	}	

	.recent-projects {
		.slides {
			> li {
				.info-projet-container { width: 270px; z-index: 5555;
					.sub-info { display: none; }   					
   					> h2 { max-width: 260px; margin: 0 auto;font-size: 30px; }
				}
				.pic-project { display: none; }
			}
			.img-circle-container { top: calc(50% - 150px);width: 300px;height: 300px; 
				.img-circle { left: calc(-50vw + 148px); top:calc(-50vh + 148px); }
			}
		}
	}		
}