<header>
      <div id="logo">
      		<a [routerLink]="['/']">
  
				<svg id="Forme_1" data-name="Forme 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.08 5.52">
					<defs><style>.cls-1{fill:#12121c;}</style></defs><title>logoo</title><g id="Forme_1-2" data-name="Forme 1"><path class="cls-1" d="M0,5.52H4.08V4.8H0Z" transform="translate(0 0)"/><polygon class="cls-1" points="4.08 1.2 4.08 4.32 0 4.32 0 0 4.08 0 4.08 0.72 0.72 0.72 0.72 3.6 3.36 3.6 3.36 1.92 1.92 1.92 1.92 2.4 2.88 2.4 2.88 3.12 1.2 3.12 1.2 1.2 4.08 1.2"/></g></svg>				
      		</a>
      </div>
	<main-nav></main-nav>
</header>

<!-- <div class="overlayContainer">
	<div class="overlay oLeft" [@overlaySlideLeft]></div>
	<div class="overlay oRight" [@overlaySlideRight]></div>
</div>	 -->
<router-outlet></router-outlet>