<span *ngIf="objLoaderStatus">
	<loader></loader>
</span>
<header>
      <div class="logo">
      		<a [routerLink]="['/']">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.02 14.88">
					<line class="u-line" y1="13.93" x2="11.02" y2="13.93"/>
					<polyline class="g-line" points="11 0.95 0.96 0.95 0.96 10.68 10.06 10.68 10.06 4.17 4.21 4.18 4.21 7.44 7.78 7.44"/>
				</svg>			
      		</a>
      </div>
	<main-nav></main-nav>
</header>

<!-- <div class="overlayContainer">
	<div class="overlay oLeft" [@overlaySlideLeft]></div>
	<div class="overlay oRight" [@overlaySlideRight]></div>
</div>	 -->
<div [@animRoutes]="getRouteAnimation(route)" style="width: 100%;
	height: 100%;
	perspective:500px;
	display:block;">
  <router-outlet #route="outlet"></router-outlet>
</div>