<burger (toggleNav)="toggleNav()"></burger>
<div id="menu">
	<div class="wrapper">
		<span class="label-menu">MENU</span>
		<ul>
			<li>
				<a href="/">
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="projets">
					<span>Projects</span>
				</a>
			</li>
			<li>
				<a href="about">
					<span>About</span>
				</a>
			</li>
			<li>
				<a href="contact">
					<span>Contact</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="menu-contact">
		<div class="menu-email">
			<div class="menu-email-label">Email me at</div>
			<a href="mailto:guillaumeesnault@gmail.com"><div class="default-email">guillaume@esnault.fr</div><div class="hover-email">guillaume@esnault.fr</div></a>
		</div>
		<div class="menu-sub-infos">
			<span>© 2018 - Guillaume Esnault</span>
			<ul class="menu-social">
				<li><a href="https://github.com/keery" class="ico-github"></a></li>
				<li><a href="https://www.linkedin.com/in/guillaume-esnault-9387a2139/" class="ico-linkedin"></a></li>
			</ul>
		</div>
	</div>
</div>	